# Rules in this file were initially inferred by Visual Studio IntelliCode from the E:\MM và ANM\Lab\Lab1\DES codebase based on best match to current usage at 3/30/2024
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

